body{
  margin: 0.2%;
  background-color: #0f4c75;
  color: #1b262c;
}


header{
background-color: #222831;
height:200px ;

}
header nav{
  float: right;
  width:25% ;
   ;
}
header div{float: left;}

header nav ul li{
  display: inline-block
}
header nav ul{
  margin-top: 20%;
}
header nav ul li a{
  text-decoration: none;
  margin-left: 25px;
  
  
}
#first{background-color: #bbe1fa;
margin-left: 20%;
margin-right: 20%;


}
#second{background-color: #bbe1fa;
margin-left: 15%;
margin-right: 15%;
}
#second div{
  display: inline-block;
  padding: 10%;
}
footer{background-color: #bbe1fa;}